.wrapper_food {
    margin-top: 50px;
    .title {
        display:flex;
        justify-content: space-between;
        width: 100%;
        color: #000;
        font-weight: 600;
        font-size: 36px;
        margin: 32px 0px;
    }
    .goods {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 25px 25px;
        grid-template-areas:
            '. . .'
            '. . .'
            '. . .';
        .cart {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .cart_name {
                width: 100%;
                align-items: flex-start;
                margin: 8px 0px;
                color: #000;
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
            }
            .cart_description {
                font-size: 14px;
                line-height: 20px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                color: #5c6370;
                font-weight: 400;
            }
            .cart_bottom {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                .price {
                    font-size: 20px;
                    color: #000;
                    font-weight: 600;
                    line-height: 22px;
                }
                .cart_btn{
                    button {
                        background-color: #f8eae1;
                        color: #d15700;
                        border: none;
                        height: 40px;
                        min-width: 120px;
                        cursor: pointer;
                        border-radius: 9999px;
                        font-weight: bold;
                        &:hover {
                            background-color: #fcd7c0;
                        }
                    }
                }
            }
        }
        
    }
}

