.search {
    position: relative;
    input {
        height: 44px;
        border-radius: 6px;
        background: none;
        border: 1px solid #00000026;
        padding-left: 35px;
        color: #000;
        letter-spacing: 0.01em;
        -webkit-transition: ease-out 0.3s;
        -moz-transition: ease-out 0.3s;
        -o-transition: ease-out 0.3s;
        transition: ease-out 0.3s;
        outline: none;
    }
    .searchImg {
        bottom: 12px;
        left: 5px;
        position: absolute;
        width: 25px;
    }
    .close {
        .closeImg {
            position: absolute;
            width: 14px;
            left: 168px;
            bottom: 15px;
            cursor: pointer;
        }
    }

}